<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tipo_andamento.name %>
</p>


<%= link_to 'Edit', edit_tipo_andamento_path(@tipo_andamento) %> |
<%= link_to 'Back', tipo_andamentos_path %>
